/* Allgemeines Styling für die Webseite */
body {
    font-family: Arial, sans-serif;
  }
  
  #section1 {
    background-color: white;
    padding: 20px;
  }
  
  /* Styling für die Tabelle */
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: lightgrey;
  }
  
  form {
    display: block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }

  /* Styling für den Button */
  button {
    background-color: lightsalmon;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: salmon;
  }
  